@font-face {
  font-family: 'pokemon_hollow';
  src: url(./css/pokemon_font/Pokemon\ Hollow.ttf)
}
@font-face { 
  font-family: 'pokemon_solid';
  src: url(./css/pokemon_font/Pokemon\ Solid.ttf);
}

.Card h1 { 
  text-align: center;
  margin-bottom: 100px;
  font-family: 'pokemon_hollow';
  color: red;
  font-size: 80px; 
}

.Card img { 
    margin-right: 300px;
}

.Card p { 
    font-size: 25px;
}